@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Code Assessment</h1>
    <p>Develop by <b>Alex Borjas</b></p>
    <p>Start <a asp-area="" asp-controller="Users" asp-action="Index">here</a></p>
</div>
